body {
	background-color: #CCC;
	color: Black;
	font-family: sans-serif;
    padding-top: 180px;
    margin: 0;
}

h1 {
	font-size: 72px;
	color: white;
}

li {
	display: inline-block;
}

th {
	text-align: left;
}

.login_form {
	display: inline-block;
	text-align: left;
	width: 80px;
}

.details_form {
	display: inline-block;
	text-align: left;
	width: 50px;
}

#comment_textarea {
	min-width: 200px;
	min-height:100px;
}

#submit_button {
    position: absolute;
    right: 0;
    bottom: 0;
}

#review_fieldset {
    position:relative;
}

#top_header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #6dcc6e;
}

.nav_link {
    margin: 0 10px;
}

.selected {
    background-color: #FFF;
}

/*CART PAGE*/
#cart-table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    border-collapse: collapse;
}

#cart-table th {
    background-color: #aacc00;
}

#cart-table, td, th {
    border: solid 1px #6dcc6e;
    padding: 5px;
}

#cart-table a {
    color: #6dcc6e;
}

#cart-table input {
    height: 100%;
}